# Only release inputs enter the Docker context.
*
!Dockerfile
!.dockerignore
!go.mod
!go.sum
!main.go
!release.toml
!version.txt
!LICENSE
!config-sample.toml
!archive/
!archive/**
!backup/
!backup/**
!cloud/
!cloud/**
!cmd/
!cmd/**
!config/
!config/**
!crypt/
!crypt/**
!database/
!database/**
!file_io/
!file_io/**
!logger/
!logger/**
!memory/
!memory/**
!pricing/
!pricing/**
!man/
!man/**
!packaging/
!packaging/**
!yesb/
!yesb/package.py
**/*.env
**/.env
**/.env.*
**/*.db
**/*.sqlite
**/findings-*.md

**/__pycache__/**

**/*.py[cod]
