# Ignore compiled binaries
build/
dist/
# Ignore Go modules files
/go.sum

# Ignore local config files
/config.json

# Ignore IDE/editor settings
.idea/
.vscode/

# Ignore any backup or temporary files
*.bak
*.tmp
*.swp

# Ignore logs
*.log

# Ignore SQLite3 database files
*.db

# Ignore temporary files created during dev
*.dat
